{% load static %}
<link rel="stylesheet" href="{% static '/bower_components/chartist/dist/chartist.css' %}">

<div class="ct-chart"></div>

<script src="{% static '/bower_components/chartist/dist/chartist.js' %}"></script>

<script>

    var data = {
  series: [{{ project_goals_under_50k_count }}, {{ project_goals_btw_50k_300k_count }}, {{ project_goals_over_300k_count }}]
};
console.log(data)

var sum = function(a, b) { return a + b };

new Chartist.Pie('.ct-chart', data, {
  labelInterpolationFnc: function(value) {
    return Math.round(value / data.series.reduce(sum) * 100) + '%';
  }
});

</script>