body{
   font-family:Avenir;
   color:#A1A5A9;
}

p {
  line-height: 1.5;
}
p a {
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #0085A1;
}

blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 30px;
}
.row{
  margin:0;
}
.intro-hader image{

}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading{
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading, {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 80px;
  }
}

footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
/*
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}*/
body {
  -webkit-tap-highlight-color: #0085A1;
}
.image{
  width:170px;
  margin-top:10px;
}

@font-face {
font-family: Avenir;
src: url(/static/fonts/AvenirLTStd-Light.otf);

}
.botoncito{
  margin-top:20px;
}
.inicio {
  margin-top:0;
  background-color:white;
}


#column {
  width: 50%;
  float: right;
  align-items: center;
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.instruccion{

    margin-bottom:80px;

}
.circulo{
  background-color:#b0bec5;
  border-radius:50%;
}
.card{
  width:90%;
  margin:5px;
  min-height:200px;
}
.thumbnail{
  border:0px transparent;
}

/*
.caja{
  border-style:solid;
  border-color:#cfd8dc;
  border-width:.5px;
  width:80%;
  margin-left:10%;
}*/
  .pasos{
    margin-top:30px;
  display:block;
}
.pasines{
  width:80%;
  height:auto;
}
.center{
  text-align:center;
}
.titulines{
   font-family:Avenir;
   text-align:center;
   margin-bottom:30px;
}
.titulines h2{
  margin-bottom:0;
}
hr.tall {
  max-width: 500px;
  margin: 20px auto;
  border-width: 3px;
  border-color: #b0bec5;
}

.tarjeta{
  background: white;
  height:550px;
  background-image:url(../images/pattern.png);
  background-size: cover; 
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
    padding: 0;
    border-radius: 5px;
    width:90%;
    margin-left:5%;
    margin-top:10px;

}
.tarjeta:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.foto_perfil{
  width:60px;
  height:60px;
  border-radius:50%;
}
.card img{
  padding-top:0;
}
.proyect{
  width:100%;
}
.datos{

  width:80%;
  margin-left:10%;
  position: relative;
    height: 49.49%;
    margin: 0 auto;
    padding: 0 1.5em;
    z-index: 2000;
    border-radius: 0 0 4px 4px;
    font-size:12px;
}
.apodo{
  margin-top:10px;
  margin-left:10px;


}
.resumen {
  margin-top:15px;
  text-align:justify;
}
.resumen p{
  font-size:16px;
}
.titulo{
  margin-top:10px;
  font-size:25px;
}
.fin{
  float:right;
  font-size:10px;
}
.dineros{
  float:left;
    font-size:10px;

}
.apodo p {
  font-size:13px;
}

.boxed{
  padding: 0.2em 1.1em;
    border-radius: 5px;
    position: absolute;
    top: 1.1875em;
    right: 5%;
    font-size: 0.875em;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: #3697D3;
}
.boxed2{
    padding: 0.2em 1.1em;
    border-radius: 2px;
    position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

    font-size: 0.95em;
    font-weight: 500;
    color: white;
    text-align: center;

}
.boxed3{
    padding: 0.2em 1.1em;
    border-radius: 2px;
    position: absolute;
    top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

    font-size: 0.95em;
    font-weight: 500;
    color: white;
    text-align: center;
}
.boxed4{
    padding: .2em 1.1em;
    border-radius: 2px;
    position: absolute;
    top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

    font-size: .95em;
    font-weight: 500;
    color: white;
    text-align:center;
}
.boxed5{
    padding: .2em 1.1em;
    border-radius: 2px;
    position: absolute;
    top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

    font-size: 0.95em;
    font-weight: 500;
    color: white;
    text-align:center;
    background-color: #1f1f1f
}

.tagpadre{
  position:relative;
}

.partners{
  margin-top:100px;
}
.top{
  margin-top:60px;
}

.coment{
 align-items:center;
 margin-right:8px;
}
.comentario{
  text-align:justify;
}
.alin{
  display:inline-flex;
  margin-top:8%;
  margin-left:5%;
}
.destacados{
  margin-top:40px;
}
.cuadrado {
     width: 100%; 
     height:216px; 
     margin:0 0 10% 0;
     background-image:url(https://images.pexels.com/photos/48606/pexels-photo-48606.jpeg?h=350&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);
      transition:all 1s ease; 
       background-position:center;
       display:flex;
}
.cuadrado:hover, .cuadrado1:hover, .cuadrado2:hover, .cuadrado3:hover, .rectangulo:hover, .rectangulo1:hover, .rectangulo2:hover {
  filter:grayscale(0%);
  background-size:200%;
  cursor:pointer;

}
/*
.cuadrado:hover, .cuadrado1:hover, .cuadrado2:hover, .cuadrado3:hover, .rectangulo:hover, .rectangulo1:hover, .rectangulo2:hover{
  filter: grayscale(0%);
  background-size:150%;
 background-position:center;
 cursor:pointer;
  transition:all 1s ease; 
 
}*/
.cuadrado1 {
     width: 100%; 
     height:216px; 
     margin:0 0 10% 0;
     background-image:url(https://images.pexels.com/photos/89860/pexels-photo-89860.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);
       background-position:center;
        transition:all 1s ease; 
}
.cuadrado2 {
     width: 100%; 
     height:216px; 
     margin:0 0 10% 0;
     background-image:url(https://images.pexels.com/photos/238622/pexels-photo-238622.jpeg?h=350&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);

       background-position:center;
        transition:all 1s ease; 
}
.cuadrado3 {
     width: 100%; 
     height:216px; 
     margin:0 0 10% 0;
     background-image:url(https://images.pexels.com/photos/239886/pexels-photo-239886.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);
       background-position:center;
        transition:all 1s ease; 
}
.rectangulo {
     width: 100%; 
     height: 463px; 
     text-align:center;
     background: #428bca;
     background-image:url(https://images.pexels.com/photos/80467/globe-indonesia-equator-80467.jpeg?h=350&auto=compress);
     background-size:cover;
     filter:grayscale(100%);
       background-position:center;
        transition:all 1s ease; 
}
.rectangulo1 {
     height: 250px; 
     background: #428bca;
     margin-left:1%;
     background-image:url(https://images.pexels.com/photos/110252/pexels-photo-110252.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);
       background-position:center;
        transition:all 1s ease; 
}
.rectangulo2 {

     height: 250px; 
     background: #428bca;
     margin-right:1%;
     background-image:url(https://images.pexels.com/photos/7075/people-office-group-team.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
     background-size:cover;
     filter:grayscale(100%);
       background-position:center;
        transition:all 1s ease; 
}
.clasificacion{
  margin-top:40px;
  margin-bottom:80px;
}