#padding{
  padding: 0 30% 0 30%;
}

font {
  font-family: 'Oswald', sans-serif;
}

.back {
  background: url('http://www.solofondosdepantalla.net/fondos-de-pantalla/Abstractos/Fondo-de-pantalla-Abstracto-229.jpg') no-repeat;
  min-height: 100vh;
  background-position: center;
}

input[type="text"]
{
    font-size:30px;
}

input[type="number"]
{
    font-size:30px;
}
