{%extends 'base.html'%}

{%block content%}

<section class="contenedor centrado">
	<h1>Inicia sesión</h1>

<article class="panel panel-default row">
<form class="panel-body" action="{%url 'login'%}" method="post">
	{%csrf_token%}
	<div class="col-md-4 col-md-offset-4">
	{{form.as_p}}
	
	<input type="hidden" name="next" value="{{next}}"> 
	<input class="success btn btn-primary" type="submit" value="Iniciar Sesión">
	</div>
</form>

<h6 class="col-md-12">
	Inicia con redes sociales:
</h6>
<a href="{%url 'social:begin' 'facebook'%}" class="btn btn-info">
	<i class="fa fa-facebook" aria-hidden="true"></i>
	Facebook
</a>
<a class="btn btn-danger">
	<i class="fa fa-google" aria-hidden="true"></i>
	Google
</a>
<h6 class="col-md-12">
	¿No tienes cuenta?, registrate <a href="#!">aqui</a>
</h6>
</article>

</section>


<script>
	$('input').addClass('form-control')
</script>
{%endblock content%}







