{%extends 'base.html'%}
{%load static%}
{%load humanize%}
{%block content%}
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="medium-8 columns">
			<img src="{{project.img.url}}">
		</div>
		<div class="medium-4 columns">
			
			<h2>Proyecto: {{project.name}}</h2>
			<br><br>
			<h3>Usuario {{project.user.username}}</h3>
			<h4>${{project.goal|floatformat:2|intcomma}} recaudados</h4>
			<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
			  <div class="progress-meter" style="width: 25%">
			    <p class="progress-meter-text">25%</p>
			  </div>
			</div>
			<button type="button" class="button">Apoyar</button>
		</div>
	</div>
	
	<br>
	<br>
	<br>
	<br>

	<div class="row">
		<div class="medium-8 columns">
			<h2>Descripción de el proyecto:</h2>
			<p style="text-align: justify;">{{project.desc}}</p>					
		</div>
		<div class="medium-4 columns">
			<div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
						<h5>$10 MX</h5>
				      	<p style="text-align: justify;" class"small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
				    	<h5>$25 MX</h5>
				      	<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
						<h5>$50 MX</h5>
				      	<p style="text-align: justify;" class"small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
				    	<h5>$100 MX</h5>
				      	<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
						<h5>$250 MX</h5>
				      	<p style="text-align: justify;" class"small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
				    	<h5>$500 MX</h5>
				      	<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
				<div class="medium-12 columns">
				    <div class="callout" data-equalizer-watch>
				    	<h5>$1000 MX</h5>
				      	<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eveniet, id quam, explicabo nulla voluptatem nam eligendi obcaecati dicta praesentium numquam delectus, ratione, repellendus aspernatur veniam error doloribus suscipit autem!</p>
				      	<button type="button" class="button expanded">Apoyar</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
{%endblock content%}