{%extends 'base.html'%} {%load static%} {%block content%}
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="back">
    <br><br><br><br><br>
    <h1 align="center"><font color="blue">Comienza</font></h1>
    <br>
    <div id="padding">
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label><font size="5", color="blue">Escoge el titulo para tu proyecto</font>
                        <input type="text" placeholder="Titulo" style="height:60px">
                    </label>
                </div>
                <div class="large-12 columns">
                  <label><font size="5", color="blue">Ingresa la cantidad:</font>
                      <input type="number" placeholder="$" style="height:60px">
                    </label>
                </div>
          </div>
      </form>
<div align="center">
<a class="large button" align="center">Guardar y Continuar</a>
</div>
</div>
</div>
{%endblock content%}
