{%extends 'base.html'%}

{%block content%}

<section class="">


<article class="row">

<div class="col-lg-2 col-sm-3">
			<div class="fondo_oficial">
			
			<div class="seccion panel-body">
				<h5>Categorías</h5>
				<ul>
					<li>
						<a href>Categoría</a>
					</li>
					<li>
						<a href>Categoría</a>
					</li>
					<li>
						<a href>Categoría</a>
					</li>
				</ul>
			</div>
			<div class="divider1"></div>
			<div class="seccion panel-body">
				<h5>Areas</h5>
				<ul>
					<li>
						<a href>Area</a>
					</li>
					<li>
						<a href>Area</a>
					</li>
					<li>
						<a href>Area</a>
					</li>
				</ul>
			</div>
			<div class="divider1"></div>
			<div class="seccion panel-body">
				<h5>Destacado</h5>
				<ul>
					<li>
						<a href>más vistos</a>
					</li>
					<li>
						<a href>más fondeados</a>
					</li>
					<li>
						<a href>más populares</a>
					</li>
				</ul>
			</div>
			
		</div>
		</div> <!-- selector-->



<div class="col-lg-10 col-sm-9 row">

<div class="col-sm-6 col-md-4">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnologia</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div> 
</div> <!-- card-->

<div class="col-sm-6 col-md-4">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnologia</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div> 
</div> <!-- card-->

<div class="col-sm-6 col-md-4">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnologia</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div> 
</div> <!-- card-->


</div> <!-- col-->




</article>








</section>












	<h1>Explorador</h1>

	<ul>
		{%for p in projects%}
		<li>{{p.name}}</li>
		{%empty%}
		<h3>no hay proyectos</h3>
		{%endfor%}

	</ul>



	{%include 'pagination.html' with page=page_obj%}
{%endblock content%}