{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}


<section class="contendor centrado">

	<h3 class="demo-panel-title">{{project}} / {{section}}</h3>

	<article class="row">

		<div class="col-md-3 col-md-offset-1">
			<div class="todo">
			
			<ul>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li>
					
					<div class="todo-icon fui-resize"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Dashboard</strong>
						</h4>
						¿Cómo va tu proyecto?
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li class="todo-done">
					
					<div class="todo-icon fui-eye"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Info Basica</strong>
						</h4>
						Empezamos por aquí
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:history' project.pk%}">
				<li>
					
					<div class="todo-icon fui-image"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Descripción</strong>
						</h4>
						Cuentanos tu historia
					</div>
					
				</li>
				</a>

				<li>
					<div class="todo-icon fui-plus-circle"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Extras</strong>
						</h4>
						Tu equipo y más detalles
					</div>
				</li>

				<a class="no-link" href="{%url 'dash:rewards' project.pk%}">
				<li>
					<div class="todo-icon fui-heart"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Recompensas</strong>
						</h4>
						¡Motiva a tu audiencia!
					</div>
				</li>
				</a>

				<li>
					<div class="todo-icon fui-upload"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Documentos</strong>
						</h4>
						Sube tus documentos
					</div>
				</li>

				<a class="no-link" href="{%url 'dash:chat'%}">
				<li>
					<div class="todo-icon fui-bubble"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Mensajes</strong>
						</h4>
						Comunicate con tus patrocinadores
					</div>
				</li>
				</a>

			</ul>
		</div>
		</div>




		

		<div class="col-md-6 col-md-offset-1">
				

				<form id="nuevo" class="row panel panel-default" action="." method="post">
				{%csrf_token%}
					<div class="col-md-6 col-md-offset-3 panel-body">

					<div class="row">
					<h4 class="col-md-12">
						¿Cómo se llama tu proyecto?
					</h4>
					<input {%if project.publish%}disabled{%endif%} value="{{project.name}}" name="name" required placeholder="Mi fabuloso proyecto" class="form-control input-hg col-md-12" type="text">
					</div>

					<div class="row">
					<h4 class="col-md-12">
						¿Cuanto dinero necesitas?
					</h4>
					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <input {%if project.publish%}disabled{%endif%}  value="{{project.goal}}" name="goal" required type="number" class="form-control input-hg" placeholder="200000" />
					</div>
					</div>

					<div class="row">
					<h4 class="col-md-12">
						¿En que categoría encaja?
					</h4>
						
						<select name="tags" class="form-control select select-danger select-block mbl">
						  <optgroup label="Categorias">
						  	{%for c in cats%}
						    <option {%if project.tags.all.0.name == c.name%} selected {%endif%} value="{{c.name}}">
						    	{{c.name}}
						    </option>
						    {%endfor%}
						  </optgroup>
						</select>

					</div>

					<br>
					<input {%if project.publish%}disabled{%endif%}  class="btn btn-hg btn-success" type="submit" value="Guardar">

					</div> <!-- offset-->

			</form>


		

		</div>
	</article>



</section>



<script>
	$("select").select2({dropdownCssClass: 'dropdown-inverse'});
</script>

{%endblock content%}






