{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}
<section class="container">

	<div class="Left">
		<h2 >Left</h2>
		
		<div class="liltit">
			<span>
				Recaudado:
			</span>
			<br>
			<span class="cantidad">
				$ {{nums.re}}
			</span>
		</div>
		<div class="liltit">
			<span>
				Pendiente:
			</span>
			<br>
			<span class="cantidad">
				$ {{nums.pe}}
			</span>
		</div>
		<div class="liltit">
			<span>
				General:
			</span>
			
		</div>

		<a href="">
			Boton1
		</a>
		
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton2
		</a>

	</div>
	<div class="Middle">
		<h3>middle</h3>
		<h2>{%show_latest_posts%}</h2>
	</div>




</section>



{%endblock content%}