{%extends 'base.html'%}
{%load static%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}


<section class="contendor centrado">

	<h3 class="demo-panel-title">{{project}} / {{section}}</h3>

	<article class="row">

		<div class="col-md-3 col-md-offset-1">
			<div class="todo">
			
			<ul>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li class="todo-done">
					
					<div class="todo-icon fui-resize"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Dashboard</strong>
						</h4>
						¿Cómo va tu proyecto?
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:basics' project.pk%}">
				<li >
					
					<div class="todo-icon fui-eye"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Info Basica</strong>
						</h4>
						Empezamos por aquí
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:history' project.pk%}">
				<li>
					
					<div class="todo-icon fui-image"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Descripción</strong>
						</h4>
						Cuentanos tu historia
					</div>
					
				</li>
				</a>

				<li>
					<div class="todo-icon fui-plus-circle"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Extras</strong>
						</h4>
						Tu equipo y más detalles
					</div>
				</li>

				<a class="no-link" href="{%url 'dash:rewards' project.pk%}">
				<li>
					<div class="todo-icon fui-heart"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Recompensas</strong>
						</h4>
						¡Motiva a tu audiencia!
					</div>
				</li>
				</a>

				<li>
					<div class="todo-icon fui-upload"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Documentos</strong>
						</h4>
						Sube tus documentos
					</div>
				</li>

				<a class="no-link" href="{%url 'dash:chat'%}">
				<li>
					<div class="todo-icon fui-bubble"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Mensajes</strong>
						</h4>
						Comunicate con tus patrocinadores
					</div>
				</li>
				</a>

			</ul>
		</div>
		</div>




		

		<div class="col-md-6 col-md-offset-1">
			<article class="row">
				<div class="panel col-sm-6">
					<canvas id="myChart" width="400" height="400"></canvas>
				</div>

				<div class="panel col-sm-6">
					<canvas id="myChart2" width="400" height="400"></canvas>
				</div>
				

			</article>

			<article class="row">

				<div class="panel col-sm-6">
					<canvas id="myChart3" width="400" height="400"></canvas>
				</div>

				<div class="panel col-sm-6">
					<canvas id="myChart5" width="400" height="400"></canvas>
				</div>

				

			</article>
				
			
			<article class="row">

				<div class="well col-xs-12">
					<button class="btn btn-warning">
						<i class="fa fa-share-square-o" aria-hidden="true"></i>
						Enviar avanze a patrocinadores
					</button>
					<button class="btn btn-danger">
						<i class="fa fa-trash" aria-hidden="true"></i>
						Eliminar proyecto
					</button>
				</div>

			</article>
		</div>
	</article>



</section>



<script src="{%static 'bower_components/chart.js/dist/Chart.js'%}"></script>
<script>
    var ctx = $('#myChart');
    var myChart = new Chart(ctx,{
    	type: 'bar',
    data: {
        labels: ["Semana1", "Semana2", "Semana3", "Semana4", "Semana5", "Semana6"],
        datasets: [{
            label: 'Cantidad vs Semana',
            data: [1200, 1900, 300, 500, 200, 300],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

    });
</script>

<script>
    var ctx = $('#myChart2');
    var myChart = new Chart(ctx,{
    	type: 'line',
    data: {
        labels: ["Semana1", "Semana2", "Semana3", "Semana4", "Semana5", "Semana6"],
        datasets: [{
            label: 'Cantidad vs Semana',
            data: [1200, 1900, 300, 500, 200, 300],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

    });
</script>

<script>
    var ctx = $('#myChart3');
    var myChart = new Chart(ctx,{
    	type: 'radar',
    data: {
        labels: ["Semana1", "Semana2", "Semana3", "Semana4", "Semana5", "Semana6"],
        datasets: [{
            label: 'Cantidad vs Semana',
            data: [1200, 1900, 300, 500, 200, 300],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

    });
</script>


<script>
    var ctx = $('#myChart5');
    var myChart = new Chart(ctx,{
    	type: 'pie',
    data: {
        labels: ["Semana1", "Semana2", "Semana3", "Semana4", "Semana5", "Semana6"],
        datasets: [{
            label: 'Cantidad vs Semana',
            data: [1200, 1900, 300, 500, 200, 300],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

    });
</script>



{%endblock content%}






