{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}

<section class="container">

	<div class="Left">
		<h2 >Left</h2>
		
		<a>
			Projectos: {%count_projects%}
		</a>
		<a href="">
			Boton1
		</a>
		
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton1
		</a>
		<a href="">
			Boton2
		</a>

	</div>
	<div class="Middle">
		<h3>middle</h3>
		<h2>{%show_latest_posts%}</h2>
	</div>




</section>



{%endblock content%}