{%extends 'dashboard/dash.html'%}

{%block segundo%}
<div class="espacio"></div>

<section class="row">

<form id="basics-form" action="." method="post" enctype="multipart/form-data">
	{%csrf_token%}






<article class="large-8 columns">

<div class="card">


<label>
	<h3>Titulo de la recompensa</h3>
	¿Cual es el título de la ecompensa?
	<input name="name" type="text" value="">
</label>


<div class="espacio"></div>


<label>
	<h3>Descripción de la recompensa</h3>
	¿De qué trata tu recompensa?
	<textarea name="desc" type="text" ></textarea>
</label>


<div class="espacio"></div>


<label>
	<h3>Monto para tener acceso a la recompensa</h3>
	¿Cuanto dinero requiere tu recompensa?
	<input name="goal" type="number" step="1000" min="0" value="">
</label>

<div class="espacio"></div>


</div> <!--card-->


</article>

<article class="large-4 columns">


<div class="card">
<label>
	<h3>Imagen de la recompensa</h3>
	¿Cual es la imagen de tu recompensa?
	<input id="img" name="img" type="file" value="{{project.img}}">
	{% if project.img %}
	<img id="preview" src="{{project.img.url}}">
	{%else%}
	<img id="preview" src="">
	{%endif%}
</label>
</div>



</article>





</form>

</section>





























<script>

$('#guardar').on('click',function(){

	$('#basics-form').submit();

});



</script>

{%endblock segundo%}
