{%extends 'base.html'%}

{%block content%}

<section class="section row">

	<div class="espacio"></div>

	<div class="card large-4 {%if not chat%}large-centered{%endif%} columns">
		<img style="border-radius: 50%;" src="http://graph.facebook.com/10209162090267285/picture?type=large">
		<h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
		<p>{{request.user.email}}</p>
		<div class="container">
			<a class="card-button">Editar Perfil</a>
			<a class="card-button">Cambiar contraseña</a>
		</div>
	</div>

	{%if chat%}
	<div class="card large-8 columns chat">
		<h4 style="border-bottom:1px solid grey" >{{chat.project}} | {{chat.padmin.first_name}} {{chat.padmin.last_name}}</h4>
		<div class="mensajes row">
			
			<div class="uno small-12 columns">
				<img width="30px" src="http://graph.facebook.com/10209162090267285/picture?type=large">
				<span>Quibo puto?</span>
			</div>
			<div class="dos small-12 small-uncentered columns">
				<span>Nada papaw!</span>
				<img width="30px" src="http://graph.facebook.com/10209162090267285/picture?type=large">
			
			</div>
	</div> <!--mensajes-->
	<div class="captura">
		<input id="puto_mensaje" style="margin:0" type="text">
		<button id="puto_boton" class="button">
			Enviar
			<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
		</button>
	</div>

	</div> <!--chat-->
	{%endif%}

</section>
<div class="espacio"></div>
<section class="row">
	

	<div class="card large-4 {%if chat%}large-uncentered{%else%} large-centered {%endif%} columns">

		<h5>PROYECTOS APOYADOS:</h5>
		<ul>
			{%for p in projects%}
			<li>
				<div class="row">
				<span data-tooltip aria-haspopup="true" class="small-8 columns has-tip hasn-tip left" data-disable-hover="false" tabindex="4" title="Revisa los detalles del proyecto">
					{{p.project}}
				</span>
				<a href="{%url 'dash:chat' p.project.pk%}">
				<span  data-tooltip aria-haspopup="true" class="small-2 columns has-tip hasn-tip right" data-disable-hover="false" tabindex="3" title="Envía un mensaje al proyecto">
				<i style="color:orange" class="fa fa-envelope" aria-hidden="true"></i>
				</span>
				</a>

				</div>
				

			</li>
			{%endfor%}
		</ul>
	</div>



</section>



<script>





var chat = firebase.database().ref("chat/"+{{chat.uid}});

$('#puto_boton').on('click',function(){
	console.log('me puchaste asshhh');
	chat.push({
		autor:"{{request.user.id}}",
		fecha:Date.now(),
		mensaje:$('#puto_mensaje').val()
	});
});
		
function perro(mensaje) {
  
}

chat.on('child_added', function(data) {

	if(data.val().autor === "{{request.user.id}}"){
		$('.mensajes').append("<h1>"+data.val().mensaje+"</h1>");
	} else{
		$('.mensajes').append("<h5>"+data.val().mensaje+"</h5>");
	}
  


  console.log(data.val().mensaje);
});








</script>

{%endblock content%}