{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}


<section class="contendor centrado">

	<h3 class="demo-panel-title">{{project}} / {{section}}
		<button id="guarda" class="btn btn-success">Guardar</button>
	</h3>


	<article class="row">

		<div class="col-md-3 col-md-offset-1">
			<div class="todo">
			
			<ul>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li>
					
					<div class="todo-icon fui-resize"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Dashboard</strong>
						</h4>
						¿Cómo va tu proyecto?
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:basics' project.pk%}">
				<li >
					
					<div class="todo-icon fui-eye"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Info Basica</strong>
						</h4>
						Empezamos por aquí
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:history' project.pk%}">
				<li class="todo-done">
					
					<div class="todo-icon fui-image"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Descripción</strong>
						</h4>
						Cuentanos tu historia
					</div>
					
				</li>
				</a>

				<li>
					<div class="todo-icon fui-plus-circle"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Extras</strong>
						</h4>
						Tu equipo y más detalles
					</div>
				</li>

				<a class="no-link" href="{%url 'dash:rewards' project.pk%}">
				<li>
					<div class="todo-icon fui-heart"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Recompensas</strong>
						</h4>
						¡Motiva a tu audiencia!
					</div>
				</li>
				</a>

				<li>
					<div class="todo-icon fui-upload"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Documentos</strong>
						</h4>
						Sube tus documentos
					</div>
				</li>

				<li>
					<div class="todo-icon fui-bubble"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Mensajes</strong>
						</h4>
						Comunicate con tus benefactores
					</div>
				</li>

			</ul>
		</div>
		</div>




		

		<div class="col-md-6 col-md-offset-1">

			<form class="row" action="." method="post" enctype="multipart/form-data">
				
				<br>
				{%csrf_token%}

				<div class="panel panel-default col-md-6">

				<article class="panel-body">

				<h6>Súbe tu Imagen</h6>
				<p>Sube una imagen que identifique tu proyecto</p>
				<input id="file" class="form-control" name="img" type="file">

				</article>

				</div>

				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<h6>Súbe tu Video</h6>
				<p>¿Tienes un video en youtube de tu proyecto?</p>
				<!-- Append -->
				<div class="input-group">
				  <input id="vid" class="form-control" placeholder="youtube url" name="video" type="text" {%if project.video%}value="{{project.video}}"{%endif%} />
				   <span style="cursor:pointer" class="girale input-group-addon">
				   	<i class="fa fa-refresh" aria-hidden="true"></i>
				   </span>
				  
				</div>

				</article>

				</div>

								<!-- previews -->
				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<img class="img-responsive" id="img_preview" src="{%if project.img%}{{project.img.url}}{%else%}https://cdn4.iconfinder.com/data/icons/big-data/512/bigdata-512.png{%endif%}">				

				</article>

				</div>

				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<iframe id="vidPrev" width="100%" height="auto" src="{%if project.video%}{{project.video}}{%endif%}" frameborder="0" allowfullscreen></iframe>

				</article>

				</div> <!-- previews-->
				<br><br><br>

				<div class="col-md-12 panel panel-default">

				<article class="panel-body">

				<h4>Describe tu proyecto</h4>

				<p>Puedes usar HTML y <span data-toggle="tooltip" data-placement="bottom" title="#Titulo, ##subtitulo, *parrafo">Markdown</span></p>
				<textarea rows="10" name="desc" class="form-control">{{project.desc}}</textarea>

				<div class="tile">
				<h6>Presiona guardar para ver el preview:</h6>
				</div>
				{%autoescape off%}{{project.desc}}{%endautoescape%}

				</article>

				</div>


			</form>

		</div>
	</article>



</section>

<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

	$('#guarda').on('click',function(){
		$('form').submit();
	});
</script>

<script type="text/javascript">

  function readURL(input) {



    if (input.files && input.files[0]) {
        var reader = new FileReader();


        reader.onload = function (e) {
            $('#img_preview').attr('src', e.target.result);
            // Extra para actualizar la img
            // $('#imagen').submit();

        }

        reader.readAsDataURL(input.files[0]);
    }
}

  function readVideo() {

  	var link = $('#vid').val();
  	var lista = link.split("/");
  	var code = lista[lista.length - 1];
  	link = "https://www.youtube.com/embed/"+code;
  	console.log(link);
    $('#vidPrev').attr('src',link);
    $('#vid').val(link);
    
    }


// $("#file").change(function(){
//     readURL(this);
// });

$('#vid').change(function(){

    readVideo();
})


// $('img').on('click',function(){
// 	$('#file').click();

// });
$("#file").change(function(){

    readURL(this);
    

});

</script>


{%endblock content%}






