{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}


<section class="contendor centrado">

	<h3 class="demo-panel-title">{{project}} / {{section}}</h3>

	<article class="row">

		<div class="col-md-3 col-md-offset-1">
			<div class="todo">
			
			<ul>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li>
					
					<div class="todo-icon fui-resize"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Dashboard</strong>
						</h4>
						¿Cómo va tu proyecto?
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:detail' project.pk%}">
				<li >
					
					<div class="todo-icon fui-eye"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Info Basica</strong>
						</h4>
						Empezamos por aquí
					</div>
					
				</li>
				</a>

				<a class="no-link" href="{%url 'dash:history' project.pk%}">
				<li class="todo-done">
					
					<div class="todo-icon fui-image"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Descripción</strong>
						</h4>
						Cuentanos tu historia
					</div>
					
				</li>
				</a>

				<li>
					<div class="todo-icon fui-plus-circle"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Extras</strong>
						</h4>
						Tu equipo y más detalles
					</div>
				</li>

				<li>
					<div class="todo-icon fui-heart"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Recompensas</strong>
						</h4>
						¡Motiva a tu audiencia!
					</div>
				</li>

				<li>
					<div class="todo-icon fui-upload"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Documentos</strong>
						</h4>
						Sube tus documentos
					</div>
				</li>

				<li>
					<div class="todo-icon fui-bubble"></div>
					<div class="todo-content">
						<h4 class="todo-name">
							<strong>Mensajes</strong>
						</h4>
						Comunicate con tus benefactores
					</div>
				</li>

			</ul>
		</div>
		</div>




		

		<div class="col-md-6 col-md-offset-1">

			<form class="row" action="." method="post" enctype="multipart/form-data">

				<div class="panel panel-default">

				<article class="panel-body">

				<h4>Describe tu proyecto</h4>
				<p>¿Porque deberían apoyarte?</p>
				<textarea rows="10" name="desc" class="form-control"></textarea>

				</article>

				</div>

				<div class="panel panel-default col-md-6">

				<article class="panel-body">

				<h6>Súbe tu Imagen</h6>
				<p>Sube una imagen que identifique tu proyecto</p>
				<input class="form-control" name="img" type="file">

				</article>

				</div>

				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<h6>Súbe tu Video</h6>
				<p>¿Tienes un video que describa tu proyecto?</p>
				<input class="form-control" placeholder="youtube url" name="video" type="text">

				</article>

				</div>

				<!-- previews -->
				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<img src="">				

				</article>

				</div>

				<div style="overflow:hidden" class="panel panel-default col-md-6">

				<article class="panel-body">

				<img src="">

				</article>

				</div>




			</form>

		</div>
	</article>



</section>




{%endblock content%}






