{%extends 'base.html'%}
{%load static%}

{%block content%}

<section class="section row">

	<div class="espacio"></div>

	<div class="card large-4 large-centered columns">
		{%if request.user.profile.img.url%}
			<img style="border-radius: 50%;" src="{{request.user.profile.img.url}}">
		{%else%}
			<img src="{% static 'images/clas.jpg' %}">
		<h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
		{%endif%}
		<!--<h4>{{request.user.username}}</h4>
		<p>{{request.user.email}}</p>-->
		<div class="container">
			<a href="/accounts/profile" class="card-button">Editar Perfil</a>
			<a class="card-button">Cambiar contraseña</a>
		</div>
	</div>
	<div class="espacio"></div>
	<div class="card large-4 large-centered columns">
		<h5>PROYECTOS CREADOS:</h5>
		<ul>
			<!--<li>
				<span>FixterGeek</span>
				<i class="fa fa-check-circle" aria-hidden="true"></i>

			</li>
			<li>
				<span>Hackatón</span>
				<i style="color:orange" class="fa fa-minus-circle" aria-hidden="true"></i>


			</li>-->
			{%for p in projects%}
			<li>
				<a href="{%url 'dash:detail' p.pk%}">
				<span>{{p.name}}</span>
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				</a>
			{%empty%}
			<span>No hay Proyectos Homs</span>
				<i class="fa fa-star-half-o" aria-hidden="true"></i>
			</li>
			{%endfor%}
		</ul>
	</div>



</section>

{%endblock content%}