{%load static%}
{%load form_tags%}
<!DOCTYPE html>
<html>

<head>
  <title>CrowdPopan</title>
  <meta charset="utf-8">

<!-- flat ui-->
<script src="{% static 'js/flat-ui.min.js' %}"></script>
<!-- bootstrap-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


    <!-- Fa fa icons-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- foundation -->
    <!--
    <link rel="stylesheet" type="text/css" href="{%static '/css/foundation.css'%}">
    -->

    <!-- Flat ui -->
    <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">

    <!-- custom -->
  <link rel="stylesheet" type="text/css" href="{%static '/css/app.css'%}">


    <!--

    <link rel="stylesheet" href="{% static '/bower_components/chartist/dist/chartist.css' %}">

    <style>
      .top-bar-right{
        padding-top: 1%;
      }
    </style>

    -->

</head>
<body>


<!--Responsive nav-->

<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">CrowdZ</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li {%if nav_section == 'home' %} class="active" {%endif%} ><a href="#!">Explorar</a></li>
      <li {%if nav_section == 'new' %} class="active" {%endif%} ><a href="{%url 'projects:new'%}">Publica tu Proyecto</a></li>
    </ul>
      <div class="navbar-right">
        {%if request.user.is_authenticated%}
        
        
        <!-- Inverted skin  -->
        <div class="btn-group">
          <button class="btn btn-inverse navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
            {{request.user.username}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
            <li><a href="{%url 'dash:dash'%}">Perfil</a></li>
            <li><a href="#">Contribuciones</a></li>
            <li class="divider"></li>
            <li><a href="{%url 'logout'%}">Cerrar Sesion</a></li>
          </ul>
        </div>


        {%else%}
      <a class="btn btn-warning btn-xs" type="button">SignUp</a>
      <a href="{%url 'login'%}" class="btn btn-default navbar-btn btn-xs" type="button">Sign in</a>
      {%endif%}

      </div>

  </div><!-- /.navbar-collapse -->
</nav>

<!--Responsive nav-->


<!-- Mensajes-->
{% if messages %}

    {% for message in messages %}

    <div class="centrado alert alert-{% if message.tags == 'success'%}success{%else%}danger{%endif%}" role="alert">{{ message }}</div>

    {% endfor %}

{% endif %}




<!--Firebase-->

<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAafI7wItZtcja5k_60SGLq1VYC5WVOzYI",
    authDomain: "rzapopan-5f227.firebaseapp.com",
    databaseURL: "https://rzapopan-5f227.firebaseio.com",
    storageBucket: "rzapopan-5f227.appspot.com",
    messagingSenderId: "381015477211"
  };
  firebase.initializeApp(config);
</script>



<!--<script src="{%static '/js/vendor/foundation.js'%}"></script>-->

{% block content%}
{% endblock content%}








<!--
<script src="{%static '/js/vendor/what-input.js'%}"></script>
<script src="{%static '/js/app.js'%}"></script>
-->



<!--
<script src="{%static '/bower_components/chartist/dist/chartist.js'%}"></script>
-->

<script type="text/javascript">

  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

  function readVideo() {

    $('#vidPrev').attr('src',$('#vid').val());
    
    }


$("#img").change(function(){
    readURL(this);
});

$('#vid').change(function(){

    readVideo();
})
</script>

{%block scripts%}
{%endblock scripts%}



</body>
</html>