@import "_dashboard.css";
@import "_projects.css";
@import "_index.css";


body{
	background: #eceff1;
}
li.success{
	width: 100%;
	background: lightgreen;
	color:white;
	text-align: center;
	list-style: none;
}

li.error{
	width: 100%;
	background: red;
	color:white;
}

.carga{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;

  background: url(https://s3.eu-central-1.amazonaws.com/cloudpro/sas-smart.com/images/loading.gif) center no-repeat #fff;

}

