<div class='thumbnail'>
  {%extends 'base.html'%}
  {%block content%}
  <!-- Inicio -->
  <div class="intro-header" style="background-image: url('https://images.pexels.com/photos/225502/pexels-photo-225502.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');filter:grayscale(50%);">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class="site-heading">
                          <h1>CrowdZ</h1>
                          <hr class="small">
                          <span class="subheading">El espacio donde hacer realidad tus ideas</span>
                          <br>
                          <button  href="/accounts/login/" class="botoncito btn btn-warning">Fondear mi proyecto</button>

                      </div>
                  </div>
              </div>
  </div>
  <!-- Mensaje y logo -->
  <div class='row inicio'>
    <div class='col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-3'> 
      <img  class='image' src="/static/images/img-01.png">
    </div>
    <div class='col-lg-6 col-md-6 col-xs-12'>
      <p style='text-align:justify;'>
          Inscribe tu proyecto y CrowdZapopan se sumará apoyándolo publicidad adicional. Además, buscará cerrar el círculo creativo. Esto quiere decir que los proyectos fondeados exitosamente que sean lo suficientemente originales, creativos y arriesgados, podrán tener una ventana de exhibición después de ser financiados. Tienes absoluta libertad creativa para llevar a cabo tu proyecto de la forma que creas más conveniente.
      </p>
    </div>
  </div>
  <!-- Como fondear -->
  <div  class='  instruccion'>
      <h2 class='titulines'>¿Como fondear?</h2>
      <hr class='tall'>
      <p style='width:80%; margin-left:10%;' class='titulines'>El Fondeo Colectivo (Crowdfunding) es un modelo de formación de capital y participación de mercado, en donde las necesidades de financiamiento de proyectos se transmiten a una comunidad a través de una plataforma digital y se obtiene apoyo de inversionistas, fondeadores y donantes.</p>
      <div class='pasos row'>
        <div class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-4  col-xs-12'>
          <div class='card'>
            <img class='pasines' src="/static/images/focos-01.png" alt="" width="180px" height="180px">
            <p class='center'>¿Tienes una idea? </p>
          </div>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-4 col-xs-12'>
          <div class='card'>
             <img class='pasines' src="static/images/idea-01.png" alt="" width="180px" height="180px">
             <p class='center'>Sube tu Proyecto</p>
          </div>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-4  col-xs-12'>
          <div class='card'>
            <img class='pasines' src="static/images/validar-01.png" alt="" width="180px" height="180px">
            <p class='center'>Espera nuestra revisión</p>
          </div>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-4  col-xs-12'>
          <div class='card'>
            <img class='pasines' src="static/images/fondeo-01.png" alt="" width="180px" height="180px">
            <p class='center'>Entra a Fondeo </p>
          </div>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-4  col-xs-12'>
          <div class='card'>
           <img class='pasines' src="static/images/dineros-01.png" alt="" width="180px" height="180px">
           <p class='center'>Recibe el financiamiento</p>
          </div>
        </div>
      </div> 
  </div>
</div>
<!-- Categorias -->
<div class='clasificacion'>
  <h3 class='titulines'>Explorar Categorías</h3>
  <hr class='tall'>
  <div class='row' >
    <div class='col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-sm-12 col-xs-12'>
        <div class="marco">
        <a href="{%url 'projects:categoria' 'tecnologia'%}" class='cuadrado tagpadre'>
             <span class='label label-warning boxed2'>Tecnología</span>
        </a>
        </div>

        <div data-link="arte" class="marco">
        <div class='cuadrado1 tagpadre'>
         <span class='label label-warning boxed3'>Arte</span>
      </div>
        </div>

    </div>
    <div class='col-md-4 col-lg-4 col-sm-12 col-xs-12'> 

        <div class="marco-rectangulo">
        <div class='rectangulo tagpadre'>
          <span class='label label-warning boxed4'>Todas</span>
        </div>
        </div>

    </div>
    <div class='col-md-3 col-lg-3 col-sm-12 col-xs-12'>

        <div data-link="medio-ambiente" class="marco">
        <div class='cuadrado2 tagpadre'>
          <span class='label label-warning boxed3'>Medio Ambiente</span>
        </div>
        </div>

        <div data-link="diseno" class="marco">
        <div class='cuadrado3 tagpadre'>
         <span class='label label-warning boxed3'>Diseño</span>
      </div>
       </div>

    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12' >

      <div data-link="educacion" class="marco-rectangulo-bot">
      <div class='rectangulo1'>
         <span class='label label-warning boxed2'>Educación</span>
      </div>
      </div>

    </div>
    <div class='col-md-5 col-lg-5 col-sm-12' >

      <div data-link="comunidad" class="marco-rectangulo-bot">
       <div class='rectangulo2'>
         <span class='label label-warning boxed2'>Comunidad</span>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Destacados -->
<section class='destacados'>
  <h3 class='titulines'>Proyectos Destacados</h3>
  <hr class='tall'>
  <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnología</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div>    
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnología</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div>    
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class=" tarjeta">
        <div class="card-section tagpadre">
          <span class='boxed'>Tecnología</span>
          <img class='proyect' src="https://images.pexels.com/photos/8704/pen-idea-bulb-paper.jpg?w=1260&h=750&auto=compress&cs=tinysrgbg">
          <p class='titulo'>Cowork Loops</p>
        </div>
        <div class='datos'>
          <div style='display:inline-flex;'>
            <div>
              <img class='foto_perfil' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
            </div>
            <div style='text-align:left;' class='apodo'>
              <p style='margin-bottom:0px'>Brenda Gonzalez Ortega</p>
              <p>Zapopan, Jalisco</p>
            </div>
          </div>
          <div class='resumen'>
            <p>Buscamos crear 5 coworks en estados en donde las empresas acualmente no cuentan con este tipo de servicios.</p>
          </div>
          <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
          </div>
          <div>
            <span class='dineros'>Recaudado: $50,000.00</span>
            <span class='fin'>Finaliza:11/Feb/17</span>
          </div>
        </div> 
      </div>    
    </div>
  </div>
</section>

<!-- Nuestro equipo -->
<section class='team'>
  <div class='thumbnail'>
    <h3 class='titulines'>Nuestro Equipo </h3>
    <hr class='tall'>
    <div class='row equipos'>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <img class='equipo' src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/10397838_680105465418178_8467894759301927540_n.jpg?oh=df93bc58e1e635527160ef04a61edf01&oe=58EB5263">
        <p class='nombres'>Integrante 1</p>
         <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <img class='equipo' src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/10397838_680105465418178_8467894759301927540_n.jpg?oh=df93bc58e1e635527160ef04a61edf01&oe=58EB5263">
        <p class='nombres'>Integrante 2</p>
         <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <img class='equipo' src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/10397838_680105465418178_8467894759301927540_n.jpg?oh=df93bc58e1e635527160ef04a61edf01&oe=58EB5263">
        <p class='nombres'>Integrante 3</p>
         <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
      </div>
     
    </div>
    <div class='service'>
      <span >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.Lorem ipsum dolor sit amet.
      </span> 
    </div>
  </div>
</section>
<!--  Partners -->
<div>
  <h3 class='titulines'>Partners</h3>
  <div class='partners'>
    <div class='row'>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div>
        <div class='boxi col-lg-2 col-md-2 col-sm-4 col-xs-4'>
          <img class='logis' src="/static/images/LOG-01.png">
        </div> 
    </div>      
  </div>
</div>
<br>

<!-- Comentarios -->
<div class='coments'>
  <p style='color:white; padding-top:50px; font-size:38px' class='titulines'> Comentarios</p>
  <div id="backg" class=''>
    <div class="row">
      <div  class="  col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class='opinion thumbnail'>
        <div class='alin'>
          <img class='coment' style='width:100px; height:100px; border-radius:50%' class='coment' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
          <p class='comentario'>
            Reto Zapopan ha logrado generar una tracción importante en el ecosistema
            emprendedor y ha podido acelerar múltiples proyectos de emprendimiento que podrían tener salidas viables de mercado si contaran con las aportaciones o financiamiento suficiente para poderlas
            escalar.
          </p>
        </div>
      </div>
      </div>
      <div class=" col-lg-6 col-md-6 col-sm-6  col-xs-12">
      <div class='opinion thumbnail'>
        <div class='alin'>
          <img class='coment' style='width:100px; height:100px; border-radius:50%' class='coment' src="https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/10610561_661134757315249_1937519055020262032_n.jpg?oh=5e2983bea71a5b7d1923ff6be03dd25d&oe=58F864C3">
          <p class='comentario'>
            Reto Zapopan ha logrado generar una tracción importante en el ecosistema
            emprendedor y ha podido acelerar múltiples proyectos de emprendimiento que podrían tener salidas viables de mercado si contaran con las aportaciones o financiamiento suficiente para poderlas
            escalar. 
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- slide -->
<div style='overflow:hidden;' id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img style='width:100%;'  src="/static/images/slide1-01.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img style='width:100%;'  src="/static/images/slide2-01.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img style='width:100%; '  src="/static/images/slide3-01.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>

<!-- Footer -->
<div class='footer text-center'>
  <div id='fondo' class='footer-above'>
    <div class='row'>
      <div class='footer-col col-md-6'>
        <p>Direccion</p>
        <p>Av. Constituyentes #3,<br> Zapopan, Jalisco</p>
      </div>
      <div class='footer-col col-md-6'>
        <p>Siguenos</p>
        <ul class="list-inline">
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
            </li>
        </ul>
      </div>
    </div> 
  </div>
  <div class="copy">
    <div class="row">
        <div class="col-lg-12">
          <p style='margin-top:10px'>Copyright &copy; Your Website 2016</p>
        </div>
    </div>
  </div>
</div>
       
<script type="text/javascript">
  
  <!-- $('.carousel').carousel()

</script>


<script>
  $('.marco, .marco-rectangulo-bot').on('click', function(){
    var link = $(this).attr('data-link');
    document.location.href='/projects/explorar/'+link+'/'
  });

    $('.marco-rectangulo').on('click', function(){
    document.location.href='/projects/explorar/'
  })
</script>

{%endblock content%}
